.title {
  font-size: 1.5em;
  font-weight: 400;
  margin: 0;

  @media (width >= 400px) {
    font-size: 1.7em;
  }

  @media (width >= 768px) {
    font-size: 1.9em;
  }

  @media (width >= 1200px) {
    font-size: 2.2em;
  }
}
